.shop-men{
    width: 50%;
    height: 600px;
    background-repeat: no-repeat;
    display: inline-block;

}

.shop-women{

    width: 50%;
    height: 600px;
    background-repeat: no-repeat;
    display: inline-block;

}

.shop-wrapper{

    width: 60%;
    margin: 0 auto;
    margin-top: 25px;
}
