.admin-image {
    text-align: center;
    height: 50px;
    width: 16%;
    border: 3px solid;
    border-radius: 37px;
    margin: 0 auto;
    margin-top: 25px;
    img{
        width: 101%;
    height: 49px;
    margin: 0px;
    padding: 0px;
    border-radius: 41px;
    }
}