.cart-Warpper{
    .go-to-product-grid {
        background-color:#0062cc;;
        /* height: 53px; */
        width: 100%;
        color: white;
        text-align: center;
        /* vertical-align: middle; */
        padding: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        text-decoration: none;
        font-size: x-large;
        font-weight: bold;
        border-radius: 5px;
    }
    .quantity-buttons {
        width: 100px;
    }
    .container{
        text-align: center;
    }
    .quantity{
        background-color: darkmagenta;
        color: white;
        padding-left: 3px;
        padding-right: 3px;
        margin-left: 4px;
        margin-right: 4px;
      padding-top: 3px;
      padding-bottom: 5px;
        
    }
    .cart-image {
        height: 220px;
    }
}